html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

#query {
  left: 44px;
  position: absolute;
  right: 130px;
  top: 4px;
}

#query>input {
  border: 1px solid #999;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 2px rgba(40,40,40,0.1);
  font-size: 15px;
  outline: 0;
  padding: 0.5em;
  width: 100%;
}

#query:focus {
  border-color: #333;
}

.infobubble-content {
  padding: 1px 0.5em 0.5em;
}

h1 {
  font-size: 1em;
  margin: 0 0 0.5em;
  white-space: nowrap;
}

.pac-container {
  font-family: arial;
}
